<p>
  <b>Name</b>
  <%= @company.name %>
</p>

<p>
  <b>Suffix</b>
  <%= @company.suffix %>
</p>

<p>
  <b>Catchphrase</b>
  <%= @company.catch_phrase %>
</p>

<p>
  <b>Email</b>
  <%= @company.email %>
</p>

<p>
  <b>Start Date</b>
  <%= @company.start_date %>
</p>

<p>
  <b>Industry</b>
  <%= @company.industry %>
</p>

<p>
<%= link_to 'Back', companies_path %>
