<p>
  <b>Name</b>
  <%= @company.name %>
</p>

<p>
  <b>Suffix</b>
  <%= @company.suffix %>
</p>

<p>
  <b>Catchphrase</b>
  <%= @company.catch_phrase %>
</p>

<p>
  <b>Email</b>
  <%= @company.email %>
</p>

<p>
  <b>Start Date</b>
  <%= @company.start_date %>
</p>

<p>
  <b>Industry</b>
  <%= @company.industry %>
</p>

<p>
  <%= link_to 'Back to Companies', companies_path %>
</p>

<br><br>
<b><%= @company.name %>'s Products</b>
  <%= link_to "Create a New Product", new_company_product_path(@company) %>
<p></p>
<table border="1">
  <tr>
    <th>Product Name</th>
    <th>Department</th>
    <th>Price</th>
  </tr>

  <tbody>
    <% @company.products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.department %></td>
        <td><%= product.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>
<b><%= @company.name %>'s Locations</b>
  <%= link_to "Create a New Location", new_company_location_path(@company) %>
<p></p>
<table border="1">
  <tr>
    <th>City</th>
    <th>Street Name</th>
    <th>State</th>
    <th>Zip Code</th>
    <th>Country</th>
  </tr>

  <tbody>
    <% @company.locations.each do |location| %>
      <tr>
        <td><%= location.city %></td>
        <td><%= location.street_name %></td>
        <td><%= location.state %></td>
        <td><%= location.zip_code %></td>
        <td><%= location.country %></td>
      </tr>
    <% end %>
  </tbody>
</table>
